# Iterators
* An iterator is an object that contains a countable number of values.

In [1]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

### Looping through list

In [2]:
list1=[1,2,3,4,5]
for i in list1:
    print(i)

1
2
3
4
5

### Looping through tuple

In [3]:
tuple1=(1,2,3,4,5,6,8)
for i in tuple1:
    print(i)

1
2
3
4
5
6
8

### Looping through dictionary

In [4]:
d1={1:20,5:30,4:60}
for i in d1:
    print(i)

1
5
4

In [5]:
d1={1:20,5:30,4:60}
for i in d1.items():
    print(i)

(1, 20)
(5, 30)
(4, 60)

### Looping through set

In [6]:
s1={1,2,3,4,56}
for i in s1:
    print(i)

1
2
3
4
56

In [7]:
list1=[1,2,3,4,5]
10 not in list1

True