# Data types:
### Types:
   * Numeric data types-Int,Float,Complex
   * Text data types-Strings
   * Sequence data types-List,Tuple,Set
   * Mapping data types-Dictionary
   * Boolean type- Bool
   * Set types- Set and frozenset
   
#### Int- Integer:-   Whole numbers
#### Float- Decimal point Numbers:-   A Number, positive or negative, containing one or more decimals.
#### Complex- a+bj:-   Real part & imaginary part.
#### Strings- Text data:-   Sequence of words.
#### Sequences:-   Used to store multiple elements.
#### Mapping:-   Used to return a list of results after applying a given function to each item of an iterable.
#### Boolean:-   Either true or false.
#### Set types:-   Used to store multiple items in a single variable.

## Numeric data types:

In [1]:
#int data type
i=10
print("value of i:",i)
print("type of i is:",type(i))
print('*'*50)

#Float data type
f=10.5
print("value of f:",f)
print("type of f is:",type(f))
print('*'*50)

#Complex data type
c=10+5j
print("value of c:",c)
print("type of c is:",type(c))
print('*'*50)

value of i: 10
type of i is: <class 'int'>
**************************************************
value of f: 10.5
type of f is: <class 'float'>
**************************************************
value of c: (10+5j)
type of c is: <class 'complex'>
**************************************************

## Text dats types:

In [2]:
a="Hello,Alaric!"
print(a)
print(type(a))

Hello,Alaric!
<class 'str'>

## Sequence data types:

In [3]:
#List
l1=["orange","apple","mango"]
print(l1)
print(type(l1))
print('*'*50)

#Tuple
t1=(11,11,2,3,6,2)
print(t1)
print(type(t1))
print('*'*50)

#Set
s1={1,2,3,4,5,6}
print(s1)
print(type(s1))
print('*'*50)

['orange', 'apple', 'mango']
<class 'list'>
**************************************************
(11, 11, 2, 3, 6, 2)
<class 'tuple'>
**************************************************
{1, 2, 3, 4, 5, 6}
<class 'set'>
**************************************************

## Mapping data types:

In [4]:
#Dictionary-dict
dict1={1:"abc",2:"bbc",3:"acc",4:"acc"}
print(dict1)
print(type(dict1))

{1: 'abc', 2: 'bbc', 3: 'acc', 4: 'acc'}
<class 'dict'>

## Boolean data types:

In [5]:
#Boolean-bool
a= True
print(a)
print(type(a))

print('*'*50)
a= False
print(a)
print(type(a))

True
<class 'bool'>
**************************************************
False
<class 'bool'>

## Set types:

In [6]:
#frozen set
a = frozenset({"apple", "banana", "cherry"})
print(a)
print(type(a))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

### For Reference:

In [7]:
type(2)

int

In [8]:
type(2.0)

float

In [9]:
type('two')

str

In [10]:
type(True)

bool

In [14]:
type(1+2j)

complex

In [15]:
type(None)

NoneType