# Tuples:
* Sequence of elements
* Properties of Tuples
  1. Ordered
  2. Allows Duplicates
  3. Immutable- We cannot change or modify the tuple/ Unchangeable
  4. Iterable

### Creating a Tuple

In [1]:
t1=(2,3,1,56,8)
print(t1)

(2, 3, 1, 56, 8)

### Type

In [2]:
print(type(t1))

<class 'tuple'>

### Count- How many times an element occur in the tuple

In [3]:
t1=(1,2,3,4,5,6,1)   #How many times 1 occur in the tuple
t1.count(1)

2

### Index

In [6]:
t1.index(2)         #2 is in first place as indexing starts from 0

1

### Contatenation- Adding

In [7]:
t3=(1,2,3,4,5,6,5,9,1)
t3 +(100,200)

(1, 2, 3, 4, 5, 6, 5, 9, 1, 100, 200)

### Length

In [8]:
# CONCATENATION - adding
t3=(1,2,3,4,5,6,5,9,1)
len(t3)

9

### Accessing tuple

In [9]:
t3=(1,2,3,4,5,6,5,9,1)
print(t3[2])

3

In [10]:
print(t3[-2])

9

### Range of Indexing

In [11]:
print(t3[2:6])      #Last element will not be included

(3, 4, 5, 6)

### Checking whether the item is existed in list or not

In [12]:
t3=(1,2,3,4,5,6,5,9,1)
if 5 in t3:
    print("Yes 5 is present in t3")

Yes 5 is present in t3

### Convert Tuple into list

In [14]:
t3=(1,2,3,4,5,6,5,9,1)
t4=list(t3)
t3=tuple(t4)
print(t3)
print(t4)

(1, 2, 3, 4, 5, 6, 5, 9, 1)
[1, 2, 3, 4, 5, 6, 5, 9, 1]

### Append -Tuple has no attribute of append, so first we need to convert tuple into list and then add elements

In [19]:
t3=(1,2,3,4,5,6,5,9,1)
t4=list(t3)
t4.append(0) 
print(t4)

[1, 2, 3, 4, 5, 6, 5, 9, 1, 0]

### Delete

In [21]:
t3=(1,2,3,4,5,6,5,9,1)
del t3   #this will through that there is no t3
print(t3)

NameError: name 't3' is not defined

### Unpacking tuples

In [22]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

### By using *- Asterisk

In [23]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

### Loop through Tuple

In [24]:
t5= ("apple", "banana", "cherry")
for x in t5:
  print(x)

apple
banana
cherry