# Sets
* Sets are used to store multiple values
* Properties of Sets
   1. Unordered
   2. Unchangeable & Only entire data will be mutable
   3. Does not allow duplicates
   4. Iterable- we cannot change the signle value but we can chage the entire set

### Creating Set

In [1]:
s1={1,2,3,5,4}
print(s1)

{1, 2, 3, 4, 5}

### Type

In [2]:
print(type(s1))

<class 'set'>

### Adding Elements
* Add an element to the set

In [3]:
s1.add(10)
print(s1)

{1, 2, 3, 4, 5, 10}

In [7]:
s1={1,2,3,4,5,6}
s1.add(20)
print(s1)
print('')

{1, 2, 3, 4, 5, 6, 20}

### Update 
* Update the set with the union of this set and others

In [8]:
s2={30,42,58}
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 42, 20, 58, 30}

In [9]:
list(s1)

[1, 2, 3, 4, 5, 6, 42, 20, 58, 30]

### Sorting- sort()

In [10]:
l1=list(s1)
l1.sort()
print(l1)

[1, 2, 3, 4, 5, 6, 20, 30, 42, 58]

### Looping through sets

In [11]:
for x in s1:
    print(x)

1
2
3
4
5
6
42
20
58
30

### Union 
* Joining sets

In [1]:
s3={1,30,4,58}
s4={20,42,30}
print(s3.union(s4))
print(s3)
print(s4)

{1, 4, 42, 20, 58, 30}
{1, 58, 4, 30}
{42, 20, 30}

### Intersection 
* Intersection of two other sets

In [2]:
print(s3.intersection(s4))

{30}

In [3]:
s3={1,30,4,58}
s4={20,42,30,4}
print("elements in s3 before union:",s3)
print(s3.intersection_update(s4))
print("elements in s3 after intersection_upddate:",s3)

elements in s3 before union: {1, 58, 4, 30}
None
elements in s3 after intersection_upddate: {4, 30}

In [4]:
s3={1,30,4,58}
s4={20,42,30,4}
print("elements in s3 intersection:",s3)
print(s3.intersection(s4))
print("elements in s3 after intersection:",s3)

elements in s3 intersection: {1, 58, 4, 30}
{4, 30}
elements in s3 after intersection: {1, 58, 4, 30}

### Difference 
* Difference between two or more sets

In [5]:
set3={1,2,3,4,5,6}
set4={2,3,4,6,7,8}
set3-set4

{1, 5}

In [6]:
set3={1,2,3,4,5,6}
set4={2,3,4,6,7,8}
print("elements of set3 before difference:",set3)
set3.difference(set4)
print("elements of set3 after difference:",set3)

elements of set3 before difference: {1, 2, 3, 4, 5, 6}
elements of set3 after difference: {1, 2, 3, 4, 5, 6}

In [7]:
set3={1,2,3,4,5,6}
set4={2,3,4,6,7,8}
print("elements of set3 before difference:",set3)
print((set3.difference(set4)))
print("elements of set3 after difference:",set3)

elements of set3 before difference: {1, 2, 3, 4, 5, 6}
{1, 5}
elements of set3 after difference: {1, 2, 3, 4, 5, 6}

In [8]:
set3={1,2,3,4,5,6}
set4={2,3,4,6,7,8}
print("elements of set3 before difference_update:",set3)
set3.difference_update(set4)
print("elements of set3 after difference_update:",set3)

elements of set3 before difference_update: {1, 2, 3, 4, 5, 6}
elements of set3 after difference_update: {1, 5}

### Disjoint set
* Two sets having no common element between them.

In [9]:
set3={1,2,3,4,5,6}
set4={2,3,4,6,7,8}
set3.isdisjoint(set4)

False

In [10]:
s5={10,20,30,40}
s6={11,12,1,3,14}
s5.isdisjoint(s6)

True

### Remove 
* REmoves the element from set

In [12]:
set3={1,2,3,4,5,6}
set3.remove(2)
print(set3)

{1, 3, 4, 5, 6}

In [14]:
set3={1,2,3,4,5,6}
set3.discard(5)
print(set3)

{1, 2, 3, 4, 6}

### Pop()
* Removes the last element of set

In [17]:
set3={1,2,3,4,5,6}
set3.pop()
print(set3)

{2, 3, 4, 5, 6}

In [18]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

banana
{'cherry', 'apple'}

### Clear
* Clears the elements in set

In [20]:
set3={1,2,3,4,5,6}
set3.clear()
set3

set()

### Delete
* Deletes the entire set

In [22]:
del set3

### Looping through Sets

In [24]:
set3={1,2,3,4,5,6}
for x in set3:
    print(x)

1
2
3
4
5
6